
.footer-container {
    background-color: #1d1d1d;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

    bottom: 0;
    left: 0;
}

.footer-icons ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    align-items: center;
}

.footer-icons li {
    margin: 0 0.5rem;
}

.footer-icons a {
    color: #f804af;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer-icons a:hover {
    color: #FFFFFF;
}

.logo-image {
    width: 4.5rem; 
    height: 4.5rem;
    cursor: pointer;
    filter: invert(46%) sepia(100%) saturate(500%) hue-rotate(285deg);
    font-size: 2.5rem;
    transition: filter 0.3s ease, transform 0.3s ease;
}
.logo-image:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg); 
    transform: scale(1.05);
}


.developed {
    font-size: 0.8rem;
}

.developed a {
    color: #f804af;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.developed a:hover {
    color: #FFFFFF;
}

/* icons */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.footer-icons a:hover {
    animation: pulse 0.5s infinite;
}

/* media query min width 768px */
@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 3rem;
    }

    .footer-icons ul {
        margin-bottom: 0rem;
    }

    .developed {
        text-align: right;
        font-size: 0.9rem;
    }
}   

 
   