* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #FF1493;
  --secondary: #eef1f7;
  --light: #f8fafc;
  --dark: #1e293b;
  --accent: #f59e0b;
}

body {
  background-color: var(--light);
}


